<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/vite.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>chippy - CHIP-8 Interpreter</title>
    </head>
    <body>
        <div id="emulator-wrapper">
            <div id="emulator">
                <div id="emulator-overlay">
                    Click to start
                </div>
            </div>
            <div id="emulator-controls">
                <div id="emulator-tabs">
                    <span class="emulator-tab keypad">Keypad</span>
                    <span class="emulator-tab settings">Settings</span>
                </div>
                <div id="emulator-control-content"></div>
            </div>
            <div id="emulator"></div>
        </div>
        <script type="module" src="/src/main.ts"></script>
    </body>
</html>
