<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/vite.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>chippy - CHIP-8 Interpreter</title>
    </head>
    <body>
        <div id="emulator-wrapper">
            <div id="emulator">
                <div id="emulator-overlay">
                    Click/tap to start
                </div>
            </div>
            <div id="emulator-controls">
                <div id="emulator-tabs">
                    <div class="emulator-tab keypad selected">Keypad</div>
                    <div class="emulator-tab settings">Settings</div>
                </div>
                <div id="emulator-control-content">
                    <div id="emulator-keypad">
                        <div class="keypad-key" key="Key1">1</div>
                        <div class="keypad-key" key="Key2">2</div>
                        <div class="keypad-key" key="Key3">3</div>
                        <div class="keypad-key" key="Key4">C</div>
                        <div class="keypad-key" key="Q">4</div>
                        <div class="keypad-key" key="W">5</div>
                        <div class="keypad-key" key="E">6</div>
                        <div class="keypad-key" key="R">D</div>
                        <div class="keypad-key" key="A">7</div>
                        <div class="keypad-key" key="S">8</div>
                        <div class="keypad-key" key="D">9</div>
                        <div class="keypad-key" key="F">E</div>
                        <div class="keypad-key" key="Z">A</div>
                        <div class="keypad-key" key="X">0</div>
                        <div class="keypad-key" key="C">B</div>
                        <div class="keypad-key" key="V">F</div>
                    </div>
                    <div id="emulator-settings"></div>
                </div>
            </div>
        </div>
        <script type="module" src="/src/main.ts"></script>
    </body>
</html>
