<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/vite.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>chippy - CHIP-8 Interpreter</title>
    </head>
    <body>
        <div id="emulator-wrapper">
            <div id="emulator">
                <div id="emulator-overlay">
                    Click to start
                </div>
            </div>
            <div id="emulator-controls">
                <div id="emulator-tabs">
                    <div class="emulator-tab keypad selected">Keypad</div>
                    <div class="emulator-tab settings">Settings</div>
                </div>
                <div id="emulator-control-content">
                    <div id="emulator-keypad">
                        <div class="keypad-key">1</div>
                        <div class="keypad-key">2</div>
                        <div class="keypad-key">3</div>
                        <div class="keypad-key">C</div>
                        <div class="keypad-key">4</div>
                        <div class="keypad-key">5</div>
                        <div class="keypad-key">6</div>
                        <div class="keypad-key">D</div>
                        <div class="keypad-key">7</div>
                        <div class="keypad-key">8</div>
                        <div class="keypad-key">9</div>
                        <div class="keypad-key">E</div>
                        <div class="keypad-key">A</div>
                        <div class="keypad-key">0</div>
                        <div class="keypad-key">B</div>
                        <div class="keypad-key">F</div>
                    </div>
                    <div id="emulator-settings"></div>
                </div>
            </div>
            <div id="emulator"></div>
        </div>
        <script type="module" src="/src/main.ts"></script>
    </body>
</html>
