:root {
    width: 100%;
    height: 100%;
    body {
        margin: 0;
        width: 100%;
        height: 100%;
        #emulator-container {
            display: none;
            #emulator-overlay, #emulator {
                width: 100%;
                height: 100%;
            }
            #emulator-overlay {
                cursor: pointer;
                font-size: 32px;
                background-color: lightgrey;
                text-align: center;
                align-content: center;
            }
            #emulator {
                display: none;
                canvas {
                    image-rendering: pixelated;
                    width: inherit !important;
                    height: inherit !important;
                }
            }
        }
    }
}
